<a href="https://colab.research.google.com/github/pedrogaldo/tp-chona/blob/main/tp_chona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://docs.google.com/document/d/10WfCkmVFVB0ajJueBD7F5wmoKHKfUKGWVbcCIragSKk/edit




https://drive.google.com/drive/folders/1buo6DsXQfqWIvUHIyZTNisaog57awkuT

In [5]:
import pandas as pd
import matplotlib as plt
import seaborn as sb

IMPORTO EL HISTORIAL

In [6]:
historial_ = pd.read_csv('NetflixHistory.csv')

CREO FUNCION DE FILTRADO

In [7]:
def filt_hist(disp):
  return disp not in ['Sony PS4', 'Netflix Windows App - Cadmium Windows Mobile', 'Apple iPhone 6s', 'Apple iPhone 7 Plus (CDMA)', 'Chrome PC (Cadmium)', 'Samsung 2015 NT14M DTV Smart TV', 'iPhone 5S GSM', 'Google Chromecast V3 Streaming Stick']

APLICO FILTRACION

In [8]:
historial = historial_[historial_["Device Type"].apply(filt_hist)]

EJERCICIO A

In [9]:
historial["Device Type"].value_counts().idxmax()

'Apple Apple TV 4 Apple TV'

EJERCICIO B

In [10]:
#filtramos las peliculas en la tabla
peliculas = historial[historial.Title.str.contains('Cap√≠tulo')==False]

In [11]:
peliculas["Title"].value_counts().idxmax()

'Star Wars: El Imperio contraataca'

In [22]:
#convertimos la duracion de las peliculas  a segundos

def duracion(tiempo):
  tiempoF = []
  tiempo = tiempo.split(":",2)

  for i in range(len(tiempo)):
    tiempoF.append(int(tiempo[i]))
  tiempo_segundos = tiempoF[0]*3600 + tiempoF[1]*60 + tiempoF[2]

  return tiempo_segundos

In [24]:
#pelicula mas larga
masLarga = peliculas['Duration'].max()
peliculas[['Title','Duration']][peliculas['Duration']==masLarga]

                    Title  Duration
8127  El club de la pelea  02:20:11

EJERCICIO C

In [38]:
#filtramos solo las series de la tabla
Solo_series = historial[historial.Title.str.contains('Cap√≠tulo')==True]
series = Solo_series['Title']

In [41]:
nombre_series = []
for Serie in series:
  nombre = Serie.split(":",2)
  nombreReal=nombre[0]
  nombre_series.append(nombreReal)

Ejercicio 4

In [ ]:
Solo_series